<div class="container">
  <app-header></app-header>
  <router-outlet></router-outlet>
  <!-- <footer class="bg-dark text-white py-4">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="d-flex flex-wrap justify-content-center">
            <p class="mx-3 mb-2 mb-md-0"><a href="#" class="text-white text-decoration-none">Become a Seller</a></p>
            <p class="mx-3 mb-2 mb-md-0"><a href="#" class="text-white text-decoration-none">Terms & Conditions</a>
            </p>
            <p class="mx-3 mb-2 mb-md-0"><a href="#" class="text-white text-decoration-none">News</a></p>
            <p class="mx-3 mb-2 mb-md-0"><a href="#" class="text-white text-decoration-none">Facebook</a></p>
            <p class="mx-3 mb-2 mb-md-0"><a href="#" class="text-white text-decoration-none">YouTube</a></p>
          </div>
        </div>
      </div>
      <div class="text-center mt-3">
        <small>&copy; 2024 E-Commerce Project.</small>
      </div>
    </div>
  </footer> -->

</div>