<div class="container  mt-0 d-flex justify-content-center align-items-center vh-100">

    <div class="card p-4 shadow-lg " style="width: 100%; max-width: 600px;">
        <h4 class="text-center mb-4 color ">Update Product</h4>
        <p class="text-success">{{updateProductMsg}}</p>
        <form [formGroup]="updateProductForm" (ngSubmit)="updateProduct()">

            <div class="row mb-3">
                <div class="col-sm-10">
                    <input type="text" id="name" class="form-control flex-grow-1" formControlName="name"
                        placeholder="Enter Product Name" />
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-sm-10">
                    <input type="text" id="price" class="form-control flex-grow-1" formControlName="price"
                        placeholder="Enter Product Price">
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-sm-10">
                    <input type="text" id="category" class="form-control flex-grow-1" formControlName="category"
                        placeholder="Enter Product Category" />
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-sm-10">
                    <input type="text" id="color" class="form-control flex-grow-1" formControlName="color"
                        placeholder="Enter Product Color" />
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-sm-10">
                    <textarea type="text" id="description" class="form-control flex-grow-1"
                        formControlName="description" placeholder="Enter Product Description">
                        </textarea>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-10">
                    <input type="text" id="img" class="form-control flex-grow-1" formControlName="img"
                        placeholder="Paste Imgae Url">
                </div>
            </div>

            <div class="d-grid">
                <button class="btn btn-primary" type="submit" [disabled]="updateProductForm.invalid">Update
                    Product</button>
            </div>
        </form>
    </div>
</div>